.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__image {
    display: flex;
    height: 240px;
    justify-content: center;
    margin-bottom: 16px;
}


.ingredients {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 20px;
}

.ingredients__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.ingredients__element:last-child {
    margin-right: 0;
}