.profile {
    display: flex;
    width: 1240px;
    margin-top: 120px;
    
}

.navigation {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin-right: 60px;
}


.navigationItem {
    display: flex;
    align-items: center;
    height: 64px;
}

.navigationItemLink {
    color: #8585AD;
    text-decoration: none;
}

.navigationItemLinkActive {
    color: #F2F2F3;
    cursor: default;
}

.content {
    margin-top: 0;
}