.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.card__container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  max-height: 800px;
  max-width: 600px;
  margin-top: 40px;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #2f2f37;
}
::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #8585ad;
  box-sizing: border-box;
}
